@{
    ViewBag.Title = "Dökümanlar";
    Context c = new Context();
    var degerler = c.animals.ToList();
}
@using init.Models

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dökümanlar</title>
    <link href="~/css/Home_api_doc.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <br /><br /><br />
    


    <div class="card text-center">
        <div class="card-header">
            API
        </div>
        <div class="card-body">
            <h5 class="card-title">Api Hizmetimiz İle Dostlarımıza Kolayca Ulaşın</h5>
            <p class="card-text">Api anahtarları sayesinde sunduğumuz Web Api hizmetinden istekte bulunabiirsiniz.</p>
            <li class="list-group-item list-group-item-danger">Api key : 5561</li>
            <li class="list-group-item list-group-item-warning">url/api/Api/api_key+evcil_hayvan_id şeklinde kullanılır.</li>
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>






</body>
</html>