@model init.Models.SiteUser

@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>


<form id="loginform">
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.USERNAME, new { @class = "form-control", @placeholder = "Username" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control", @placeholder = "Password" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary" onclick="LoginUser()">Submit</a>
        </div>
    </div>

</form>


<script>

    var LoginUser = function () {
        var data = $("#loginform").serialize();

        $.ajax({
            type: "Post",
            url: "/Home/LoginUser",
            data: data,
            success: function (response) {

                if (response == "Fail") {
                    window.location.href = "/Home/Login"
                }
                else if (response == "Admin") {
                    window.location.href = "/Admin/AdminIndex"
                }
                else {
                    window.location.href = "/Home/"
                }

            }

        })

    }

</script>
